<?xml version="1.0"?>

<model>
  <name>WindTurbine</name>
  <version>1.0</version>
  <sdf version="1.7">wtg.sdf</sdf>

  <author>
    <name>Alerion</name>
    <email>alerion@aleriontec.com</email>
  </author>

  <maintainer email="alerion@aleriontec.com">alerion</maintainer>


  <description>
    Created from xacro files
  </description>
</model>

